---
// Component Imports
//import Tour from '../components/Tour.astro';
// You can import components from any supported Framework here!
import SvelteCounter from '../components/SvelteCounter.svelte';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'How are you?';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">

    <style>
        header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: min(100%, 68ch);
        }
        button {
            border: 8px double white;
        }
    </style>
</head>
<body>
    <main>
        <header>
            <div>
                <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
                <h1><a href="">How are you?</a></h1>
                <ul>
                  <li><a href="https://open.spotify.com/track/0DPKzksU9qfgExbtCoJhKZ?si=15852ac195c649d4">In plus: Fantastic Planet</a></li>
                  <li><a href="https://open.spotify.com/track/0ykIoMN7s8cfAXEv2fs5o9?si=1bf3b5b03b9d4769">In minus: Temporary mood swings _ </a> 
                    <a href="https://open.spotify.com/track/76Rcr2dx6DsPORncOuLDF5?si=23fb9a78042048e3">vagy más _ Sorry _ </a>
                  </li>
                </ul>
            </div>
        </header>

        <!--<Tour />-->

        <!--
           - You can also use imported framework components directly in your markup!
           -
           - Note: by default, these components are NOT interactive on the client.
           - The `:visible` directive tells Astro to make it interactive.
           -
           - See https://docs.astro.build/core-concepts/component-hydration/ 
           -->
        <SvelteCounter client:visible />
    </main>
</body>
</html>